{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}


    <title>SAN FRANCISCO{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
        <nav class="">
            <div class="container-fluid w-100 my-auto" >
                <div class="row bg-white">
                        <div class="col-12 col-lg-4 col-md-4 col-sm-10 col-xs-10 ml-5 my-auto py-1 py-lg-0">
                            <form method="GET" action="{% url 'all_products' %}">
                                <div class="input-group border border-black rounded-0">
                                    <div class="input-group-append">
                                        <button class="form-control btn btn-black border border-white rounded-0" style="color: grey; margin-left:5px; margin-right:-10px;" type="submit">
                                            <span class="icon">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control border border-white rounded-0" type="text" name="q" placeholder="Search our site">
                                </div>
                            </form>
                        </div>
                        <div class="leftmenumargin col-12 col-lg-7 my-auto py-1 py-lg-1">
                            <ul class="list-inline list-unstyled text-center text-lg-right my-0" >
                                <li class="list-inline-item dropdown">
                                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="text-center">
                                            <div><i class="fas fa-user fa-lg"></i></div>
                                            <p class="my-0">My Account</p>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.is_superuser %}
                                                <a href="" class="dropdown-item">Product Management</a>
                                            {% endif %}
                                            <a href="" class="dropdown-item">My Profile</a>
                                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                        {% else %}          
                                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                        {% endif %}
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                        <div class="text-center">
                                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                            <p class="my-0">
                                                {% if grand_total %}
                                                    ${{ grand_total|floatformat:2 }}
                                                {% else %}
                                                    $0.00
                                                {% endif %}
                                           </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>  
                <div class="row justify-content-center " style="height: 150px; margin-top:-40px; margin-bottom: -40px;">
                    <div class="row bg-white">
                        <div class="navbar navbar-expand-lg navbar-light w-100">
                            <div class="col-12 col-lg-12 mt-30 text-center text-lg-left">
                                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                                    <h2 class="text-black my-0" style="color:black;"><strong>SAN FRANCISCO</strong></h2>
                                    <p class="text-center" style="color:purple;">NATURAL BEAUTY</p>
                                    <hr style="height: .8px; color:purple;background-color:purple; position: absolute; width: 20%;left: 40%;margin-top:-10px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center my-0" style="position: relative; z-index: 9999999">
                    <ul class="exo-menu myLinks">
                        <li><a class="active" href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a></li>
                        <li class="mega-drop-down"><a data-toggle="dropdown" href="#"><i class="fas fa-shopping-bag"></i> Shop</a>
                            <div class="animated fadeIn mega-menu">
                                <div class="mega-menu-wrap">
                                    <div class="row my-1 justify-content-center mx-auto">
                                        <div class="divider col-md-2">
                                            <h4 class="row mega-title"><a href="{% url 'all_products' %}?category=Body Bath">Body + Bath</a></h4>
                                            <ul class="description">
                                                <li><a href="{% url 'all_products' %}?subcategory=Body Lotion">Body Lotion</a> </li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Body Wash">Body Wash</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Hand cream">Hand Cream</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Fragrance">Fragrance</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Soap">Soap</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Candles">Candles</a></li>
                                            </ul>
                                        </div>
                                                                                <div class="divider col-md-2">
                                            <h4 class="row mega-title"><a href="{% url 'all_products' %}?category=Hair Nail">Hair + Nail</a></h4>
                                            <ul class="description">
                                                <li><a href="{% url 'all_products' %}?subcategory=Conditioner">Conditioner</a> </li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Leavein Conditioner">Leave-in Conditioner</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Nails">Nails</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Shampoo">Shampoo</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Treatment Styling">Treatment + Styling</a></li>
                                            </ul>
                                        </div>
                                        <div class="divider col-md-2">
                                            <h4 class="row mega-title"><a href="{% url 'all_products' %}?category=Eyes Brows">Eyes + Brows</a></h4>
                                            <ul class="description">
                                                <li><a href="{% url 'all_products' %}?subcategory=Eyeliner">Eyeliner</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Eyeshadow">Eyeshadow</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Mascara">Mascara</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Shadow Liner Brushes">Shadow + Liner Brushes</a></li>
                                            </ul>
                                        </div>

                                        <div class="divider col-md-2">
                                            <h4 class="row mega-title"><a href="{% url 'all_products' %}?category=Lips">Lips</a></h4>
                                            <ul class="description">
                                                <li><a href="{% url 'all_products' %}?subcategory=Lip care">Lip Care</a> </li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Lip Gloss">Lip gloss</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Lip Liner">Lip Liner</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Lipstick">Lipstick</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <h4 class="row mega-title"><a href="{% url 'all_products' %}?category=Skincare">Skincare</a></h4>
                                            <ul class="description">
                                                <li><a href="{% url 'all_products' %}?subcategory=Cleansers">Cleansers</a> </li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Masks Exfoliants">Masks + Exfoliants</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Moisturizer">Moisturizers</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Oil Serum">Oils + Serums</a></li>
                                                <li><a href="{% url 'all_products' %}?subcategory=Toner">Toners</a></li>
                                            </ul>                                            </div>   
                                    </div>
                                </div>	
                            </div>
                        </li>
                        <li class="drop-down"><a href="#"><i class="fa fa-question"></i> FAQ</a>
                            <ul class="drop-down-ul animated fadeIn">
                                <li class="flyout-right"><a href="#">Flyout Right</a>
                                    <ul class="animated fadeIn">
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">Computer</a></li>
                                        <li><a href="#">Watch</a></li>
                                    </ul>
                                </li>
                                <li class="flyout-right"><a href="#">Flyout Left</a>
                                    <ul class="animated fadeIn">
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">Computer</a></li>
                                        <li><a href="#">Watch</a></li>
                                    </ul>			
                                </li>
                                <li><a href="#">No Flyout</a></li>
                            </ul> 
                        </li>
                        <li><a href="#"><i class="fa fa-newspaper-o"></i> BLOG</a></li>
                        <li><a href="#"><i class="fas fa-history"></i> OUR STORY</a></li>
                        <li class="blog-drop-down"><a href="#"><i class="fa fa-bullhorn"></i> THEME INFO</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> Contact</a></li>     
                    </ul>
                </div>
                
            </div>
            <div id="delivery-banner" class="row text-center mt-2">
                <div class="col bg-black text-white">
                    <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
                </div>            
            </div>
        </nav>

    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}  

    {% block page_header %} 
    {% endblock %}

    {% block content %}
    {% endblock %}

     <!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color:   #f8ecec;">

    <div style="background-color:#f0f0cc;">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic"><i class="fab fa-facebook-f white-text mr-4"> </i></a>
                    <a class="tw-ic"><i class="fab fa-twitter white-text mr-4"> </i></a>
                    <a class="gplus-ic"><i class="fab fa-google-plus-g white-text mr-4"> </i></a>
                    <a class="li-ic"><i class="fab fa-linkedin-in white-text mr-4"> </i></a>
                    <a class="ins-ic"><i class="fab fa-instagram white-text"> </i></a>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div>
                    <ul class="list-unstyled list-inline text-center py-2">
                        <li class="list-inline-item">
                            <h5 class="mb-1">Register for free</h5>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" style="padding-left:15px; padding-right:15px; background-color:white;border: 1px solid black;" class="btn btn-info-black btn-rounded">Sign up!</a>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">MDBootstrap</a></p>
                <p><a href="#!">MDWordPress</a></p>
                <p><a href="#!">BrandFlow</a></p>
                <p><a href="#!">Bootstrap Angular</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="#!">Your Account</a></p>
                <p><a href="#!">Become an Affiliate</a></p>
                <p><a href="#!">Shipping Rates</a></p>
                <p><a href="#!">Help</a></p>
            </div>
    
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
        </div>
    </div>
    <hr style="border-top: 1px solid black; width: 90%;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
  
</footer>

    {% block postloadjs %}

    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementByClass("mega-menu");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    <script type="text/javascript"> 
        $(function() {
            $('#reviewlink').click(function() {
                $('#myform').toggle();
                return false;
            });        
        });
    </script>

 
 
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
    <script type="text/javascript">
        $('#sort-selector2').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var brand = selectedVal;
                currentUrl.searchParams.set("brand", brand);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("brand");
                window.location.replace(currentUrl);
            }
        })
    </script>

    <script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    $('.modal2').on('show.bs.modal', function (e) {
        if ($(window).height() < 750) {
            e.preventDefault();
            $(this).modal('hide');
        }
    });
    </script>
    {% endblock %}   
  </body>
</html>