{% extends "base.html" %}
{% load static %}


{% block page_header %}

{% endblock %}

{% block content %}
    <div class="my-5">
        <h4 class="text-center" style="font-size: 30px; color:rgb(99, 84, 84);">Product Collections</h4>
        <hr class="w-85 mx-5" style="height: 20px; color:rgb(105, 97, 97);">
        <a class="text-left pl-5 pr-1 font-italic" id="homelink" href="{% url 'home' %}">Home</a>
        <span class=""><i class="fas fa-chevron-right"></i></span>
        <span class="font-italic">Product Collections</span>
    </div>
    <div id="main-wrap">
        <div id="sidebar" class="col-lg-8 col-md-8 col-12">
            <div class="w-75">
                <h4>Shop by Brand</h4>
                <hr>
                <div class="nav2">
                    <ul class="brandlist select">
                        <li>100% Pure</li>
                        <li>Acure</li>
                        <li>Alima Pure</li>
                        <li>Evolvh</li>
                        <li>Ilia Beauty</li>
                        <li>Lily Lolo</li>
                        <li>Moon Juice</li>
                        <li>Nu Evolution</li>
                        <li>RMS Beauty</li>
                        <li>SallyeAnder</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id="content-wrap">
        {% for count in counts %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 imagealigncenter">
                <a href="">
                    <img style="width: 250px;height: 250px;" src="{{ count.latest_url }}" alt="">
                    <p class="text-center mt-4"> {{ count.sub_categories }}</p>
                    <p class="text-center" style="font-weight: bold;">{{ count.count_subcategories }} items</p>   
                </a>    
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="my-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}