{% extends "base.html" %}
{% load static %}




{% block content %}
    {% for product in products.all|slice:"1" %}
    <div class="my-3">
        <h4 class="text-center" style="font-size: 30px; color:rgb(99, 84, 84);">{{ product.category}}/{{ product.sub_categories}}</h4>
        <hr class="w-85 mx-5" style="height: 20px; color:rgb(105, 97, 97);">
        <a class="text-left pl-5 pr-1 font-italic" id="homelink" href="{% url 'home' %}">Home</a>
        <span class=""><i class="fas fa-chevron-right"></i></span>
        <a class="text-left pr-1 font-italic" id="homelink" href="{% url 'all_products' %}">Products collections</a>
        <span class=""><i class="fas fa-chevron-right"></i></span>
        <span class="font-italic">Page 1 of 1</span>
    </div>
    {% endfor %}
    <div class="row d-flex flex-row-reverse mb-3">
        <div class="col-10 col-lg-3 col-md-3 p-2 w-25 mr-5">
            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border">
                <option value="reset">Sort by...</option>
                <option value="price_asc"><a href="{% url 'all_products' %}?sort=price&direction=asc" class="dropdown-item">Price (low to high)</a></option>
                <option value="price_desc"><a href="{% url 'all_products' %}?sort=price&direction=desc" class="dropdown-item">Price (high to low)</a></option>
                <option value="name_asc"><a href="{% url 'all_products' %}?sort=name&direction=asc" class="dropdown-item">Name (A-Z)</a></option>
                <option value="name_desc"><a href="{% url 'all_products' %}?sort=name&direction=desc" class="dropdown-item">Name (Z-A)</a></option>
                <option value="brand_asc"><a href="{% url 'all_products' %}?sort=brand&direction=asc" class="dropdown-item">Brand (A-Z)</a></option>
                <option value="brand_desc"><a href="{% url 'all_products' %}?sort=brand&direction=desc" class="dropdown-item">Brand (Z-A)</a></option>
                <a href="{% url 'all_products' %}?brand=Nu Evolution"><li>Nu Evolution</li></a>
                <option value="category_asc"><a href="{% url 'all_products' %}?sort=category&direction=asc" class="dropdown-item">Category (A-Z)</a></option>
                <option value="category_desc"><a href="{% url 'all_products' %}?sort=category&direction=desc" class="dropdown-item">Category (Z-A)</a></option>
                <option value="sub_Category_asc"><a href="{% url 'all_products' %}?sort=sub&direction=asc" class="dropdown-item">Sub_Category (A-Z)</a></option>
                   
            </select>
        </div>
    </div>
    
    <div id="main-wrap">
        <div id="sidebar" class="col-lg-8 col-md-8 col-12">
            <div class="">
                <h4>Shop by Brand</h4>
                <hr>
                <div class="nav2" id="brandselector1">
                    <ul class="brandlist select">
                        <a href="{% url 'all_products' %}?brand=100% Pure"><li>100% Pure</li></a>
                        <a href="{% url 'all_products' %}?brand=Acure"><li>Acure</li></a>
                        <a href="{% url 'all_products' %}?brand=Alima Pure"><li>Alima Pure</li></a>
                        <a href="{% url 'all_products' %}?brand=Evolvh"><li>Evolvh</li></a>
                        <a href="{% url 'all_products' %}?brand=Ilia Beauty"><li>Ilia Beauty</li></a>
                        <a href="{% url 'all_products' %}?brand=Lily Lolo"><li>Lily Lolo</li></a>
                        <a href="{% url 'all_products' %}?brand=Nu Evolution"><li>Nu Evolution</li></a>
                        <a href="{% url 'all_products' %}?brand=RMS Beauty"><li>RMS Beauty</li></a>
                        <a href="{% url 'all_products' %}?brand=SallyeAnder"><li>SallyeAnder</li></a>
                    </ul>
                </div>
             </div>
        </div>




        <div class="row mb-5 " id="content-wrap">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 justify-content-center" id="resize2">
                <a href="{% url 'product_detail' product_id=product.id sub_categories=product.sub_categories %}">
                    <img class="newproducts" style="width: 300px;height: 300px;" src="{{ product.url1}}" alt="">
                    <p id="hoverfont" class="text-center mt-4">{{ product.name}}</p>
                    <div class="text-center mb-3" id="reviewstar">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="heading">review 1</span>
                    </div>
                    <p class="text-center mt-1" style="font-size:15px;">{{ product.sub_categories}}</p>
                    <p class="text-center mt-1">${{ product.price}}</p>
                </a>
                <div class="row d-flex justify-content-center">
                {% if request.user.is_superuser %}
                    <button class="text-center" style="width: 60px;margin-right: 10px;">
                        <a href="{% url 'edit_product' product.id %}">Edit</a>
                    </button>
                    <button> 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </button>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>   
{% endblock %}